<div class="dashboard">
    <div class="profile">
        <div class="avatar" [ngStyle]="avatar"></div>
        <h4 class="name">{{name}}</h4>
        <p class="profession">{{profession}}</p>
    </div>
    <nav class="col-xs flex-column flex-items-xs-center">
        <i (click)="onShowItems()"
           class="fa fa-bars"></i>
        <ul [@acordion] = "navStatus"
            class="nav">
            <li *ngFor="let mItem of menuItems"
                (click)="onShowSubItems(mItem)"
                class="nav-item"
            >
                <span>{{mItem.title}}</span>
                <ul class="nav"
                    [@acordion] = "mItem.status">
                    <li *ngFor="let sub of mItem.subMenu"
                            class="nav-item flex-column flex-items-xs-center">
                        <i class="{{sub.icon}}"></i>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>